body {
    height: 3000px;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.bg-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    /* position: absolute; */
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(0.6);
    /* opacity: 40%; */
}

.navbar {
    transition: all 0.5s;
}

.navbar-scrolled {
    background-color: #FFDAD9;
    /* opacity: 40%; */
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.navbar.navbar-scrolled .nav-link {
    color: #333 !important;
}

.navbar-brand,
.navbar-nav .nav-link {
    font-size: 18px;
    font-weight: 500;
}

.btn-custom {
    background-color: #FF6969;
    border: none;
    outline: none;
}

.btn-custom:hover {
    background-color: #FF8787;
}

.text-custom1 {
    color: #FF6969;
    font-weight: bold;
    font-size: 40px;
}

.text-custom2 {
    color: #FF6969;
    font-weight: bold;
    font-size: 38px;
}

.nav-link {
    font-weight: 500;
}

.btn-card {
    background-color: #FF6969;
    border: none;
    outline: none;
    width: 210px;
    height: 62px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 12px;
}

.btn-card:hover {
    background-color: #FF8787;
}

.btn-text-card {
    font-size: 28px; font-weight: 600
}
